.hbox-menu-item {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.hbox-menu-item:hover {
    -fx-background-color: #005f73;
}

.date-cell-task {
    -fx-background-color: #005f73;
    -fx-text-fill: white;
}
